body {
    font-family: Georgia, serif;
    background-color: #f4f4f4;
    text-align: center;
}

.container {
    width: 600px;
    margin: 50px auto;
}

img {
    width: 100%;
}

.container p {
    display: inline;
    margin: 0;
}

.underline{
  text-decoration: underline;
}

.highlight{
  background-color: orange;  
}

.quote {
    color: red;
    font-weight: bold;
}

